@page
@model IndexModel
@{
    ViewData["Title"] = "Games";
}

<table border="1">
@foreach (var game in Model.Games)
{
    <tr>
        <td>
            <h2>@game.Title</h2>
        </td>
        <td width="100" align="center">
                @game.Price $
        </td>
        <td width="400" align="right">
            <button class="btn-primary"><a asp-page="./Details" asp-route-id="@game.Id" class="btn-primary">подробнее</a></button>
        </td>
        <td>
            <form method="post">
                <button type="submit" asp-route-id="@game.Id" class="btn-primary">удалить</button>
            </form>
        </td>
    </tr>
}
</table>